# Node
node_modules/
npm-debug.log*

# Sass
*.css.map
*.sass-cache/
*.scssc/
*.scss-cache/

# JetBrains IDEs (PhpStorm/WebStorm)
.idea/
*.iml

# VSCode
.vscode/

# OS-specific
.DS_Store
._*
Thumbs.db

# Git merge conflict leftovers
*.orig
