@use '../base/util';
@use '../base/vars' as *;

.accordion-icon {
    @include util.square(16px);
    flex-shrink: 0;

    &__line {
        stroke: $colour-black;
        transition: opacity $transition-sm-ease;
    }
}

[class*="active"] {
    .accordion-icon {
        &__line {
            &--vertical {
                opacity: 0;
            }
        }
    }
}