@use '../base/util';
@use '../base/vars' as *;

.contact-link {
    position: relative;
    padding-inline-start: 40px;
    width: fit-content;

    &__icon {
        @include util.square(20px);
        position: absolute;
        inset-inline-start: 0;
        inset-block-start: 3px;
    }

    &__links-holder {
        display: flex;
        flex-direction: column;
        gap: util.px2rem(5);
    }

    &__link {
        text-decoration: none;

        &[href] {
            @include util.hover {
                .contact-link {
                    &__text {
                        text-decoration-color: $colour-transparent-1;
                        transition: text-decoration-color $transition-sm-enter;
                    }
                }
            }
        }
    }

    &__text {
        text-decoration: underline;
        text-decoration-color: $colour-dark;
        transition: text-decoration-color $transition-sm-leave;
        color: $colour-body-text;
        @include util.getFont($font-inter-medium);
    }

    &--light {
        .contact-link {
            &__text {
                color: $colour-light;
            }

            &__link {
                &[href] {
                    @include util.hover {
                        .contact-link {
                            &__text {
                                text-decoration-color: $colour-light;
                            }
                        }
                    }
                }
            }
        }
    }

    &--dark {
        .contact-link {
            &__text {
                color: $colour-dark;
            }

            &__link {
                &[href] {
                    @include util.hover {
                        .contact-link {
                            &__text {
                                text-decoration-color: $colour-dark;
                            }
                        }
                    }
                }
            }
        }
    }
}