@use '../base/util';
@use '../base/vars' as *;

.header {
    position: absolute;
    z-index: 1;
    inset-inline-start: 0;
    inset-block-start: 0;
    width: 100%;
    height: $header-mobile-height;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: $container-padding-sm;

    &__logo {
        height: util.px2rem(30);
        width: auto;
    }

    &__nav {
        display: none;
    }

    @include util.screenWidthGreaterThan($screen-2xl) {
        &__logo {
            height: auto;
            width: util.px2rem(130);
        }
    }

    @include util.screenWidthGreaterThan($screen-5xl) {
        padding-inline: calc(#{$site-gutter-5xl-width} + #{$container-padding-5xl});
    }
}